@import "base.css.sass"
@import "compass/typography/links"
@import "compass/typography/vertical_rhythm"
#bookings_list
  .bookings
    display: none
    h4
      margin: .5em 0
  .booking
    border-bottom: 1px solid $contrast
    padding-bottom: 2px
    .course
      @extend strong
    .suffix
      +adjust-font-size-to(12px)
    .people
      @extend .clear
      margin: 0.2em 0
      .person
        a
          +unstyled-link
    button
      +adjust-font-size-to(18px)
      font-weight: normal
      line-height: 1em
  @media screen and (max-width: 480px)
    // phones - portrait
    +full
    .booking
      .course
        +full
      .suffix
        +prefix(1)
        +columns(7)
        +omega(8)
      .people
        +prefix(1)
        +columns(7)
        +omega(8)
      .room
        clear: left
        +prefix(2)
        +columns(5)
      button
        +columns(2)
        +omega
  @media screen and (min-width: 481px) and (max-width: 768px)
    // high dpi phones - portrait | phones - landscape | tables - portrait
    +full
    +pad(1,1)
    .booking
      .course
        +full(8)
      .suffix
        +prefix(1,8)
        +columns(6,8)
      .people
        +prefix(1,8)
        +columns(6,8)
      .room
        clear: left
        +prefix(2,8)
        +columns(3,8)
      button
        +columns(1,8)
        +omega(8)
  @media screen and (min-width: 769px)
    // big enough screens to show the full layout
    +columns(6)
    +alpha
    .booking
      .course
        +full(6)
      .suffix
        +prefix(1,6)
        +columns(4,6)
      .people
        +prefix(1,6)
        +columns(4,6)
      .room
        clear: left
        +prefix(1,6)
        +columns(2,6)
      button
        +columns(1,6)
        +omega(6)
