@import "base.css.sass"
@import "compass/typography/links"
@import "compass/typography/vertical_rhythm"
#schedule
  .booking
    border-bottom: 1px solid $contrast
    padding-bottom: 5px
    .course
      @extend strong
    .suffix
      +adjust-font-size-to(11px)
    .timeslot
      @extend .clear
    .day-label
      display: none
    .room
      text-align: right
    .teacher
      a
        +unstyled-link
    button
      margin-bottom: 1px
  @media screen and (max-width: 480px)
  @media screen and (min-width: 481px) and (max-width: 768px)
  @media screen and (min-width: 769px)
  #schedule
    +columns(4)
    +omega
    .booking
      .course
        +columns(2,4)
      .suffix
        +columns(2,4)
        +omega(4)
      .timeslot
        +columns(2,4)
      .room
        +columns(2,4)
        +omega(4)
      .teacher
        +columns(3,4)
      button
        +columns(1,4)
        +omega(4)
