/* line 32, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 33, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 34, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 35, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 47, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 49, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 51, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 70, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a {
  color: #0000ee;
}

/* line 71, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:visited {
  color: #551a8b;
}

/* line 72, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:hover {
  color: #0066ee;
}

/* line 73, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 76, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 84, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 86, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
b, strong, #container #schedule .booking .course, #container #bookings_list .booking .course, #container #bookings_list .booking button {
  font-weight: bold;
}

/* line 88, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 90, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 92, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 94, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 96, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 99, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 102, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 104, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 105, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 107, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 85%;
}

/* line 110, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 111, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 112, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 120, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 121, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 122, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 133, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 137, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 145, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 153, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 154, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 157, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
label {
  cursor: pointer;
}

/* line 162, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 168, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 172, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 178, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 182, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 183, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 184, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 188, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 193, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 197, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 205, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 206, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
td {
  vertical-align: top;
}

/* @group defaults */
/* line 23, ../../assets/_defaults.sass */
body {
  font-family: "Ubuntu", sans-serif;
  color: #194c66;
}

/* @group links */
/* line 29, ../../assets/_defaults.sass */
:focus {
  outline: 1px dotted #cc6633;
}

/* line 33, ../../assets/_defaults.sass */
a:link, a:visited {
  color: #cc6633;
}
/* line 35, ../../assets/_defaults.sass */
a:focus, a:hover, a:active {
  color: #aa4411;
  text-decoration: none;
}

/* @end */
/* @group headers */
/* line 43, ../../assets/_defaults.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Vollkorn", serif;
  font-weight: bold;
}

/* @end */
/* @group forms */
/* line 51, ../../assets/_defaults.sass */
form *:focus {
  outline: none;
}

/* line 54, ../../assets/_defaults.sass */
fieldset {
  margin: 24px 0;
}

/* line 57, ../../assets/_defaults.sass */
legend {
  font-weight: bold;
  font-variant: small-caps;
}

/* line 61, ../../assets/_defaults.sass */
label {
  display: block;
  margin-top: 24px;
}

/* line 65, ../../assets/_defaults.sass */
legend + label {
  margin-top: 0;
}

/* line 68, ../../assets/_defaults.sass */
textarea, input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  width: 100%;
}

/* @end */
/* @group tables */
/* tables still need 'cellspacing="0"' in the markup */
/* line 79, ../../assets/_defaults.sass */
table {
  width: 100%;
  border: 1/16em solid #4c7f99;
  border-left: none;
  border-right: none;
  padding: 7/16em 0;
  margin: 8/16em 0;
}

/* line 87, ../../assets/_defaults.sass */
th {
  font-weight: bold;
}

/* @end */
/* @group block tags */
/* line 94, ../../assets/_defaults.sass */
p {
  margin: 24px 0;
}

/* line 109, ../../assets/_defaults.sass */
ol {
  margin: 24px;
  list-style: decimal;
}

/* line 112, ../../assets/_defaults.sass */
ul {
  margin: 24px;
  list-style: disc;
}

/* line 115, ../../assets/_defaults.sass */
blockquote {
  margin: 24px;
  font-family: "Vollkorn", serif;
}

/* @end */
/* @group inline tags */
/* line 123, ../../assets/_defaults.sass */
cite {
  font-style: italic;
}

/* line 126, ../../assets/_defaults.sass */
em {
  font-style: italic;
}

/* line 129, ../../assets/_defaults.sass */
strong, #container #schedule .booking .course, #container #bookings_list .booking .course, #container #bookings_list .booking button {
  font-weight: bold;
}

/* line 132, ../../assets/_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 135, ../../assets/_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 138, ../../assets/_defaults.sass */
q {
  font-style: italic;
}
/* line 140, ../../assets/_defaults.sass */
q em {
  font-style: normal;
}

/* @end */
/* @group replaced tags */
/* line 147, ../../assets/_defaults.sass */
img {
  vertical-align: bottom;
}

/* @end */
/* @end */
/* Layout ------------------------------------------------------------------ */
/* line 12, ../../assets/screen.sass */
.clear, #container #schedule .booking .timeslot, #container #bookings_list .booking .people {
  clear: both;
}

/* Smaller than standard 960 (devices and browsers) */
/* WVGA/iPhone Landscape size to standard 960 (devices and browsers) */
/* WVGA/iPhone Portrait (devices and browser) */
/* line 24, ../../assets/screen.sass */
#container {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1.639%, rgba(0, 0, 0, 0)), color-stop(1.639%, rgba(100, 100, 225, 0.25)), color-stop(9.836%, rgba(100, 100, 225, 0.25)), color-stop(9.836%, rgba(0, 0, 0, 0)), color-stop(11.475%, rgba(0, 0, 0, 0)), color-stop(11.475%, rgba(100, 100, 225, 0.25)), color-stop(19.672%, rgba(100, 100, 225, 0.25)), color-stop(19.672%, rgba(0, 0, 0, 0)), color-stop(21.311%, rgba(0, 0, 0, 0)), color-stop(21.311%, rgba(100, 100, 225, 0.25)), color-stop(29.508%, rgba(100, 100, 225, 0.25)), color-stop(29.508%, rgba(0, 0, 0, 0)), color-stop(31.148%, rgba(0, 0, 0, 0)), color-stop(31.148%, rgba(100, 100, 225, 0.25)), color-stop(39.344%, rgba(100, 100, 225, 0.25)), color-stop(39.344%, rgba(0, 0, 0, 0)), color-stop(40.984%, rgba(0, 0, 0, 0)), color-stop(40.984%, rgba(100, 100, 225, 0.25)), color-stop(49.18%, rgba(100, 100, 225, 0.25)), color-stop(49.18%, rgba(0, 0, 0, 0)), color-stop(50.82%, rgba(0, 0, 0, 0)), color-stop(50.82%, rgba(100, 100, 225, 0.25)), color-stop(59.016%, rgba(100, 100, 225, 0.25)), color-stop(59.016%, rgba(0, 0, 0, 0)), color-stop(60.656%, rgba(0, 0, 0, 0)), color-stop(60.656%, rgba(100, 100, 225, 0.25)), color-stop(68.852%, rgba(100, 100, 225, 0.25)), color-stop(68.852%, rgba(0, 0, 0, 0)), color-stop(70.492%, rgba(0, 0, 0, 0)), color-stop(70.492%, rgba(100, 100, 225, 0.25)), color-stop(78.689%, rgba(100, 100, 225, 0.25)), color-stop(78.689%, rgba(0, 0, 0, 0)), color-stop(80.328%, rgba(0, 0, 0, 0)), color-stop(80.328%, rgba(100, 100, 225, 0.25)), color-stop(88.525%, rgba(100, 100, 225, 0.25)), color-stop(88.525%, rgba(0, 0, 0, 0)), color-stop(90.164%, rgba(0, 0, 0, 0)), color-stop(90.164%, rgba(100, 100, 225, 0.25)), color-stop(98.361%, rgba(100, 100, 225, 0.25)), color-stop(98.361%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(100, 100, 225, 0.25) 1.639%, rgba(100, 100, 225, 0.25) 9.836%, rgba(0, 0, 0, 0) 9.836%, rgba(0, 0, 0, 0) 11.475%, rgba(100, 100, 225, 0.25) 11.475%, rgba(100, 100, 225, 0.25) 19.672%, rgba(0, 0, 0, 0) 19.672%, rgba(0, 0, 0, 0) 21.311%, rgba(100, 100, 225, 0.25) 21.311%, rgba(100, 100, 225, 0.25) 29.508%, rgba(0, 0, 0, 0) 29.508%, rgba(0, 0, 0, 0) 31.148%, rgba(100, 100, 225, 0.25) 31.148%, rgba(100, 100, 225, 0.25) 39.344%, rgba(0, 0, 0, 0) 39.344%, rgba(0, 0, 0, 0) 40.984%, rgba(100, 100, 225, 0.25) 40.984%, rgba(100, 100, 225, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(100, 100, 225, 0.25) 50.82%, rgba(100, 100, 225, 0.25) 59.016%, rgba(0, 0, 0, 0) 59.016%, rgba(0, 0, 0, 0) 60.656%, rgba(100, 100, 225, 0.25) 60.656%, rgba(100, 100, 225, 0.25) 68.852%, rgba(0, 0, 0, 0) 68.852%, rgba(0, 0, 0, 0) 70.492%, rgba(100, 100, 225, 0.25) 70.492%, rgba(100, 100, 225, 0.25) 78.689%, rgba(0, 0, 0, 0) 78.689%, rgba(0, 0, 0, 0) 80.328%, rgba(100, 100, 225, 0.25) 80.328%, rgba(100, 100, 225, 0.25) 88.525%, rgba(0, 0, 0, 0) 88.525%, rgba(0, 0, 0, 0) 90.164%, rgba(100, 100, 225, 0.25) 90.164%, rgba(100, 100, 225, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(100, 100, 225, 0.25) 1.639%, rgba(100, 100, 225, 0.25) 9.836%, rgba(0, 0, 0, 0) 9.836%, rgba(0, 0, 0, 0) 11.475%, rgba(100, 100, 225, 0.25) 11.475%, rgba(100, 100, 225, 0.25) 19.672%, rgba(0, 0, 0, 0) 19.672%, rgba(0, 0, 0, 0) 21.311%, rgba(100, 100, 225, 0.25) 21.311%, rgba(100, 100, 225, 0.25) 29.508%, rgba(0, 0, 0, 0) 29.508%, rgba(0, 0, 0, 0) 31.148%, rgba(100, 100, 225, 0.25) 31.148%, rgba(100, 100, 225, 0.25) 39.344%, rgba(0, 0, 0, 0) 39.344%, rgba(0, 0, 0, 0) 40.984%, rgba(100, 100, 225, 0.25) 40.984%, rgba(100, 100, 225, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(100, 100, 225, 0.25) 50.82%, rgba(100, 100, 225, 0.25) 59.016%, rgba(0, 0, 0, 0) 59.016%, rgba(0, 0, 0, 0) 60.656%, rgba(100, 100, 225, 0.25) 60.656%, rgba(100, 100, 225, 0.25) 68.852%, rgba(0, 0, 0, 0) 68.852%, rgba(0, 0, 0, 0) 70.492%, rgba(100, 100, 225, 0.25) 70.492%, rgba(100, 100, 225, 0.25) 78.689%, rgba(0, 0, 0, 0) 78.689%, rgba(0, 0, 0, 0) 80.328%, rgba(100, 100, 225, 0.25) 80.328%, rgba(100, 100, 225, 0.25) 88.525%, rgba(0, 0, 0, 0) 88.525%, rgba(0, 0, 0, 0) 90.164%, rgba(100, 100, 225, 0.25) 90.164%, rgba(100, 100, 225, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(100, 100, 225, 0.25) 1.639%, rgba(100, 100, 225, 0.25) 9.836%, rgba(0, 0, 0, 0) 9.836%, rgba(0, 0, 0, 0) 11.475%, rgba(100, 100, 225, 0.25) 11.475%, rgba(100, 100, 225, 0.25) 19.672%, rgba(0, 0, 0, 0) 19.672%, rgba(0, 0, 0, 0) 21.311%, rgba(100, 100, 225, 0.25) 21.311%, rgba(100, 100, 225, 0.25) 29.508%, rgba(0, 0, 0, 0) 29.508%, rgba(0, 0, 0, 0) 31.148%, rgba(100, 100, 225, 0.25) 31.148%, rgba(100, 100, 225, 0.25) 39.344%, rgba(0, 0, 0, 0) 39.344%, rgba(0, 0, 0, 0) 40.984%, rgba(100, 100, 225, 0.25) 40.984%, rgba(100, 100, 225, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(100, 100, 225, 0.25) 50.82%, rgba(100, 100, 225, 0.25) 59.016%, rgba(0, 0, 0, 0) 59.016%, rgba(0, 0, 0, 0) 60.656%, rgba(100, 100, 225, 0.25) 60.656%, rgba(100, 100, 225, 0.25) 68.852%, rgba(0, 0, 0, 0) 68.852%, rgba(0, 0, 0, 0) 70.492%, rgba(100, 100, 225, 0.25) 70.492%, rgba(100, 100, 225, 0.25) 78.689%, rgba(0, 0, 0, 0) 78.689%, rgba(0, 0, 0, 0) 80.328%, rgba(100, 100, 225, 0.25) 80.328%, rgba(100, 100, 225, 0.25) 88.525%, rgba(0, 0, 0, 0) 88.525%, rgba(0, 0, 0, 0) 90.164%, rgba(100, 100, 225, 0.25) 90.164%, rgba(100, 100, 225, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(100, 100, 225, 0.25) 1.639%, rgba(100, 100, 225, 0.25) 9.836%, rgba(0, 0, 0, 0) 9.836%, rgba(0, 0, 0, 0) 11.475%, rgba(100, 100, 225, 0.25) 11.475%, rgba(100, 100, 225, 0.25) 19.672%, rgba(0, 0, 0, 0) 19.672%, rgba(0, 0, 0, 0) 21.311%, rgba(100, 100, 225, 0.25) 21.311%, rgba(100, 100, 225, 0.25) 29.508%, rgba(0, 0, 0, 0) 29.508%, rgba(0, 0, 0, 0) 31.148%, rgba(100, 100, 225, 0.25) 31.148%, rgba(100, 100, 225, 0.25) 39.344%, rgba(0, 0, 0, 0) 39.344%, rgba(0, 0, 0, 0) 40.984%, rgba(100, 100, 225, 0.25) 40.984%, rgba(100, 100, 225, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(100, 100, 225, 0.25) 50.82%, rgba(100, 100, 225, 0.25) 59.016%, rgba(0, 0, 0, 0) 59.016%, rgba(0, 0, 0, 0) 60.656%, rgba(100, 100, 225, 0.25) 60.656%, rgba(100, 100, 225, 0.25) 68.852%, rgba(0, 0, 0, 0) 68.852%, rgba(0, 0, 0, 0) 70.492%, rgba(100, 100, 225, 0.25) 70.492%, rgba(100, 100, 225, 0.25) 78.689%, rgba(0, 0, 0, 0) 78.689%, rgba(0, 0, 0, 0) 80.328%, rgba(100, 100, 225, 0.25) 80.328%, rgba(100, 100, 225, 0.25) 88.525%, rgba(0, 0, 0, 0) 88.525%, rgba(0, 0, 0, 0) 90.164%, rgba(100, 100, 225, 0.25) 90.164%, rgba(100, 100, 225, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(100, 100, 225, 0.25) 1.639%, rgba(100, 100, 225, 0.25) 9.836%, rgba(0, 0, 0, 0) 9.836%, rgba(0, 0, 0, 0) 11.475%, rgba(100, 100, 225, 0.25) 11.475%, rgba(100, 100, 225, 0.25) 19.672%, rgba(0, 0, 0, 0) 19.672%, rgba(0, 0, 0, 0) 21.311%, rgba(100, 100, 225, 0.25) 21.311%, rgba(100, 100, 225, 0.25) 29.508%, rgba(0, 0, 0, 0) 29.508%, rgba(0, 0, 0, 0) 31.148%, rgba(100, 100, 225, 0.25) 31.148%, rgba(100, 100, 225, 0.25) 39.344%, rgba(0, 0, 0, 0) 39.344%, rgba(0, 0, 0, 0) 40.984%, rgba(100, 100, 225, 0.25) 40.984%, rgba(100, 100, 225, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(100, 100, 225, 0.25) 50.82%, rgba(100, 100, 225, 0.25) 59.016%, rgba(0, 0, 0, 0) 59.016%, rgba(0, 0, 0, 0) 60.656%, rgba(100, 100, 225, 0.25) 60.656%, rgba(100, 100, 225, 0.25) 68.852%, rgba(0, 0, 0, 0) 68.852%, rgba(0, 0, 0, 0) 70.492%, rgba(100, 100, 225, 0.25) 70.492%, rgba(100, 100, 225, 0.25) 78.689%, rgba(0, 0, 0, 0) 78.689%, rgba(0, 0, 0, 0) 80.328%, rgba(100, 100, 225, 0.25) 80.328%, rgba(100, 100, 225, 0.25) 88.525%, rgba(0, 0, 0, 0) 88.525%, rgba(0, 0, 0, 0) 90.164%, rgba(100, 100, 225, 0.25) 90.164%, rgba(100, 100, 225, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
}
/* line 38, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 27, ../../assets/screen.sass */
#container header, #container footer {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
}
/* line 29, ../../assets/screen.sass */
#container header nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#container header nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#container header nav li:first-child, #container header nav li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#container header nav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#container header nav li.last {
  padding-right: 0;
}
/* line 31, ../../assets/screen.sass */
#container footer .links {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#container footer .links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#container footer .links li:first-child, #container footer .links li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#container footer .links li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#container footer .links li.last {
  padding-right: 0;
}
/* line 33, ../../assets/screen.sass */
#container h3.day-header {
  text-align: center;
}
/* line 35, ../../assets/screen.sass */
#container h3.day-header:focus, #container h3.day-header:hover, #container h3.day-header:active {
  color: #aa4411;
  text-decoration: none;
}
/* line 39, ../../assets/screen.sass */
#container button {
  background-color: #969696;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(0, 0%, 73%)", endColorstr="hsl(0, 0%, 59%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#bababa), to(#969696));
  background-image: -moz-linear-gradient(top, #bababa, #969696);
  background-image: -ms-linear-gradient(top, #bababa, #969696);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bababa), color-stop(100%, #969696));
  background-image: -webkit-linear-gradient(top, #bababa, #969696);
  background-image: -o-linear-gradient(top, #bababa, #969696);
  background-image: linear-gradient(#bababa, #969696);
  border-color: #969696 #969696 #8e8e8e;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.23);
  -webkit-font-smoothing: antialiased;
}
/* line 42, ../../assets/screen.sass */
#container ul {
  margin: 0.5em 1em;
  padding: 0;
}
/* line 47, ../../assets/screen.sass */
#container #full_schedule_horizontal {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
}
/* line 51, ../../assets/screen.sass */
#container #full_schedule_horizontal .time {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
  border-bottom: 2px solid black;
}
/* line 54, ../../assets/screen.sass */
#container #full_schedule_horizontal .time .day {
  display: inline;
  float: left;
  width: 18.033%;
  margin-right: 1.639%;
}
/* line 56, ../../assets/screen.sass */
#container #full_schedule_horizontal .time .day:first-child {
  margin-left: 1.639%;
}
/* line 58, ../../assets/screen.sass */
#container #full_schedule_horizontal .time .day:last-child {
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}
/* line 61, ../../assets/screen.sass */
#container #full_schedule {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
}
/* line 63, ../../assets/screen.sass */
#container #full_schedule .day {
  display: inline;
  float: left;
  width: 18.644%;
  margin-right: 1.695%;
}
/* line 65, ../../assets/screen.sass */
#container #full_schedule .day .time {
  background-color: #222222;
}
/* line 69, ../../assets/screen.sass */
#container #full_schedule:last-child {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 72, ../../assets/screen.sass */
#container #schedule .booking {
  border-bottom: 1px solid black;
}
/* line 78, ../../assets/screen.sass */
#container #schedule .booking .room {
  text-align: right;
}
/* line 81, ../../assets/screen.sass */
#container #schedule .booking .teacher a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
#container #schedule .booking .teacher a:active, #container #schedule .booking .teacher a:focus {
  outline: none;
}
/* line 83, ../../assets/screen.sass */
#container #schedule .booking button {
  margin-bottom: 1px;
}
@media screen and (min-width: 960px) {
  /* line 71, ../../assets/screen.sass */
  #container #schedule {
    display: inline;
    float: left;
    width: 37.705%;
    margin-right: 1.639%;
    display: inline;
    float: right;
    margin-right: 1.639%;
    #margin-left: -1em;
  }
  /* line 89, ../../assets/screen.sass */
  #container #schedule .booking .course {
    display: inline;
    float: left;
    width: 47.826%;
    margin-right: 4.348%;
  }
  /* line 91, ../../assets/screen.sass */
  #container #schedule .booking .suffix {
    display: inline;
    float: left;
    width: 47.826%;
    margin-right: 4.348%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
  /* line 94, ../../assets/screen.sass */
  #container #schedule .booking .timeslot {
    display: inline;
    float: left;
    width: 47.826%;
    margin-right: 4.348%;
  }
  /* line 96, ../../assets/screen.sass */
  #container #schedule .booking .room {
    display: inline;
    float: left;
    width: 47.826%;
    margin-right: 4.348%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
  /* line 99, ../../assets/screen.sass */
  #container #schedule .booking .teacher {
    display: inline;
    float: left;
    width: 73.913%;
    margin-right: 4.348%;
  }
  /* line 101, ../../assets/screen.sass */
  #container #schedule .booking button {
    display: inline;
    float: left;
    width: 21.739%;
    margin-right: 4.348%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
}
/* line 106, ../../assets/screen.sass */
#container #bookings_list .bookings {
  display: none;
}
/* line 108, ../../assets/screen.sass */
#container #bookings_list .bookings h4 {
  margin: 0.5em 0;
}
/* line 110, ../../assets/screen.sass */
#container #bookings_list .booking {
  border-bottom: 1px solid black;
}
/* line 114, ../../assets/screen.sass */
#container #bookings_list .booking .suffix {
  font-size: 0.75em;
  line-height: 2em;
}
/* line 116, ../../assets/screen.sass */
#container #bookings_list .booking .people {
  margin: 0.2em 0;
}
/* line 120, ../../assets/screen.sass */
#container #bookings_list .booking .people .person a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
#container #bookings_list .booking .people .person a:active, #container #bookings_list .booking .people .person a:focus {
  outline: none;
}
/* line 122, ../../assets/screen.sass */
#container #bookings_list .booking button {
  line-height: 1.1;
}
@media screen and (min-width: 960px) {
  /* line 105, ../../assets/screen.sass */
  #container #bookings_list {
    display: inline;
    float: left;
    width: 57.377%;
    margin-right: 1.639%;
    margin-left: 1.639%;
  }
  /* line 129, ../../assets/screen.sass */
  #container #bookings_list .booking .course {
    clear: both;
  }
  /* line 131, ../../assets/screen.sass */
  #container #bookings_list .booking .suffix {
    padding-left: 17.143%;
    display: inline;
    float: left;
    width: 65.714%;
    margin-right: 2.857%;
  }
  /* line 134, ../../assets/screen.sass */
  #container #bookings_list .booking .people {
    padding-left: 17.143%;
    display: inline;
    float: left;
    width: 65.714%;
    margin-right: 2.857%;
  }
  /* line 137, ../../assets/screen.sass */
  #container #bookings_list .booking .room {
    clear: left;
    padding-left: 17.143%;
    display: inline;
    float: left;
    width: 31.429%;
    margin-right: 2.857%;
  }
  /* line 141, ../../assets/screen.sass */
  #container #bookings_list .booking button {
    display: inline;
    float: left;
    width: 14.286%;
    margin-right: 2.857%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
}
