---
http_interactions:
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/person/name/kailerdaniel.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><person>\n    <lastname>Kailer</lastname>\n
      \   <firstname>Daniel</firstname>\n    <sex>m</sex>\n    <title/>\n    <faculty>07</faculty>\n
      \   <status>associate</status>\n    <hidden>false</hidden>\n    <email xmlns:emailtrasher=\"java:edu.hm.cs.fi.exporter.EmailTrasher\">removed</email>\n
      \   <website>http://www.cs.hm.edu/die_fakultaet/ansprechpartner/wissenschaftlichemitarbeiter/kailer/index.de.html</website>\n
      \   <phone>3764</phone>\n    <function/>\n    <focus>Lehrbeauftragter SWE 2
      im SS 2011 (Bachelor Wirtschaftsinformatik)</focus>\n    <publication/>\n    <office>r1019</office>\n
      \   <emailoptin>true</emailoptin>\n    <officehourweekday>mi</officehourweekday>\n
      \   <officehourtime>10:00</officehourtime>\n    <officehourroom/>\n    <officehourcomment/>\n
      \   <einsichtdate>2012-02-10</einsichtdate>\n    <einsichttime>12:30</einsichttime>\n
      \   <einsichtroom>r1019</einsichtroom>\n    <einsichtcomment>12:30-13:30</einsichtcomment>\n
      \   <password>removed</password>\n    <course>\n        <modul>softwareentwicklungiiib</modul>\n
      \       <group>ib2b</group>\n        <teacher>kailerdaniel</teacher>\n        <teacher>schiffnerstephan</teacher>\n
      \   </course>\n</person>"
  recorded_at: Thu, 02 Feb 2012 01:56:38 GMT
recorded_with: VCR 2.0.0.rc1
