---
http_interactions:
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/person/name/eichsoellneredda.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><person>\n    <lastname>Eich-Soellner</lastname>\n
      \   <firstname>Edda</firstname>\n    <sex>f</sex>\n    <title>Prof. Dr.</title>\n
      \   <faculty>07</faculty>\n    <status>prof</status>\n    <hidden>false</hidden>\n
      \   <email xmlns:emailtrasher=\"java:edu.hm.cs.fi.exporter.EmailTrasher\">removed</email>\n
      \   <website>http://www.cs.hm.edu/~eich</website>\n    <phone>3729</phone>\n
      \   <function>Studienfachberatung Bachelor Informatik;Studienfachberatung Bachelor
      Scientific Computing;\nPrüfungskommission Bachelor Informatik Vorsitz;\nPrüfungskommission
      Bachelor Scientific Computing Vorsitz;\nPrüfungskommission Master Stochastic
      Engineering in Finance and Management Vorsitz - Stellvertretung;Prüfungskommission
      Master Informatik Vorsitz - Stellvertretung;</function>\n    <focus>Numerische
      Mathematik; Modellbildung; Simulation; Angewandte Mathematik</focus>\n    <publication/>\n
      \   <office>r3035</office>\n    <emailoptin>true</emailoptin>\n    <officehourweekday>di</officehourweekday>\n
      \   <officehourtime>15:00</officehourtime>\n    <officehourroom/>\n    <officehourcomment>Die
      Sprechstunden finden regelmäßig nur in der Vorlesungszeit (1.10.-25.1. und 15.3.
      - 10.7.) statt.</officehourcomment>\n    <einsichtdate/>\n    <einsichttime>10:00</einsichttime>\n
      \   <einsichtroom/>\n    <einsichtcomment>Gerne können Sie die Prüfungseinsicht
      auch als Sprechstunde nutzen.</einsichtcomment>\n    <password>removed</password>\n
      \   <modul>\n        <name>Analysis</name>\n        <angebot>ws</angebot>\n
      \       <credits>5</credits>\n        <sws>4</sws>\n        <verantwortlich>eichsoellneredda</verantwortlich>\n
      \       <teacher>eichsoellneredda</teacher>\n        <teacher>grubermanfred</teacher>\n
      \       <teacher>hoerwickjosef</teacher>\n        <language>de</language>\n
      \       <lehrform>su-uebungen</lehrform>\n        <aufwand>40 Präsenzstunden
      Vorlesung, 20 Präsenzstunden Übung, 35 Stunden Vor-/Nachbereitung der Übungen,
      55 Stunden Nachbereitung der Vorlesung und Prüfungsvorbereitung</aufwand>\n
      \       <voraussetzungen>Keine</voraussetzungen>\n        <ziele>Die Studierenden
      sind in der Lage,\n.einfache Sachverhalte in der Sprache der Mathematik zu formulieren
      (Modellbildungskompetenz),\n.die Methoden der eindimensionalen Analysis zur
      Problemlösung sicher und kreativ einzusetzen (z.B. Abschätzungen des Rechenaufwands
      mit Hilfe von Reihen, Lösung von eindimensionen Optimierungsproblemen),\n.sicher
      mit Termen, (Un-)Gleichungen und Funktionen umzugehen,\n.die Grundbegriffe der
      Analysis wie Konvergenz, Stetigkeit, Differenzierbarkeit auf andere Bereiche
      anzuwenden\n.\n\n.Kenntnisse der wichtigsten Methoden der Analysis\n.Fähigkeit,
      diese auf praktische Probleme  anwenden zu können\n.Verbesserung der Abstraktionsfähigkeit\n.Stärkung
      des problemlösenden Denkens\n.</ziele>\n        <inhalt>Grundlegende Konzepte,
      Methoden und numerische Verfahren der eindimensionalen Analysis für die folgenden
      Themengebiete\n\n.Beweisverfahren, insbesondere vollständige Induktion\n.Folgen
      und Reihen\n.Funktionen und Modelle\n.Interpolation und Approximation (Polynominterpolation
      mittels dividierter Differenzen, Horner-Schema, Taylor-Reihen,...)\n.Differentiation
      und ihre Anwendung (Differentiationsregeln, Fehlerrechnung, Näherungsrechnung,
      Newton-Verfahren,...)\n.Integration und ihre Anwendung\n.</inhalt>\n        <leistungen>sps</leistungen>\n
      \       <medien>Tafel; Mathematica-Demonstrations, Veranschaulichung und Einübung
      des Gelernten u.a. mit  Hilfe von Computeralgebrasystemen; Folien bzw. Beamer;
      Gruppenarbeit</medien>\n        <literatur>978-0495383628\n978-0201558029</literatur>\n
      \       <program/>\n    </modul>\n    <modul>\n        <name>Angewandte Mathematik</name>\n
      \       <angebot>ss</angebot>\n        <credits>5</credits>\n        <sws>4</sws>\n
      \       <verantwortlich>eichsoellneredda</verantwortlich>\n        <teacher>eichsoellneredda</teacher>\n
      \       <teacher>hoerwickjosef</teacher>\n        <teacher>koestergerta</teacher>\n
      \       <language>de</language>\n        <lehrform>seminar</[...]
