---
http_interactions:
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/modul/title/ereignisgesteuertesysteme.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><modul>\n    <name>Ereignisgesteuerte
      Systeme</name>\n    <angebot>ss</angebot>\n    <credits>5</credits>\n    <sws>4</sws>\n
      \   <verantwortlich>boettcheraxel</verantwortlich>\n    <teacher>boettcheraxel</teacher>\n
      \   <language>de</language>\n    <language>en</language>\n    <lehrform>su-praktikum</lehrform>\n
      \   <aufwand>30 Präsenzstunden seminaristischer Unterricht, 30 Präsenzstunden
      Praktikum, 45 Stunden Vor-/Nachbereitung des Praktikums, 45 Stunden Nachbereitung
      der Lehrveranstaltung und Prüfungsvorbereitung</aufwand>\n    <voraussetzungen>Grundlagen
      Embedded Systems</voraussetzungen>\n    <ziele>Die Fähigkeit, ereignisgesteuerte
      Systeme zu bewerten, zu entwerfen ,zu realisieren und zu testen.\nFähigkeit
      zur Modellierung und Implementierung von Zustandsautomaten: unterschiedliche
      Vorgehensweisen , Implementierungsvarianten abhängig von Betriebssystem und
      Programmiersprache.</ziele>\n    <inhalt>Entwurfsmuster (State Patterns), Hierarchische
      Ereignisverarbeitung, Real-Time Frameworks. Es werden unterschiedliche Programmiersprachen
      (C, C++, Java) sowie verschiedene Plattformen unterschiedlichen Abstraktionsgrades
      eingesetzt (RTSJ, Atmel),\nTest- und Debugging- Unterstützung.</inhalt>\n    <leistungen>nachfach</leistungen>\n
      \   <medien>Tafel, Folien oder Beamer, sowie moderne Ansätze etwa Autonomy oriented
      education: project based learning, self-regulated-learning, Lernen-durch-Lehren,
      Gruppenpuzzle, Kleingruppen, Experteninterview, Pair Teaching</medien>\n    <literatur>978-0750687065\nSamek,
      Miro: Practical UML Statecharts in C/C++: Event-Driven Programming for Embedded
      Systems, Butterworth Heinemann; 2. Auflage 2008</literatur>\n    <program>ig</program>\n
      \   <what>ereignisgesteuertesysteme</what>\n    <modulcode>\n        <modul>ereignisgesteuertesysteme</modul>\n
      \       <program>ig</program>\n        <code>IG-EC-02</code>\n        <semester>1</semester>\n
      \       <semester>2</semester>\n        <semester>3</semester>\n        <curriculum/>\n
      \   </modulcode>\n</modul>"
  recorded_at: Tue, 17 Jan 2012 22:49:36 GMT
recorded_with: VCR 2.0.0.rc1
