// Imports -------------------------------------------------------------------

@import defaults

/* Layout ------------------------------------------------------------------

#container
  +container
  +susy-grid-background

  h3.day-header
    &:link, &:visited
      color: $alt
    &:focus, &:hover, &:active
      color: $alt - #222222
      text-decoration: none
    //&:hover
      background: red

  .bookings
    display: none
