// Imports -------------------------------------------------------------------

@import defaults

/* Layout ------------------------------------------------------------------

#container
  +container
  +susy-grid-background

  h3.day-header
    &:focus, &:hover, &:active
      color: $alt - #222222
      text-decoration: none

  .bookings
    display: none
  .booking
    margin-left: 1em
    padding: .3em
    border-bottom: 1px solid black
