{{#label}}<a href="http://fi.cs.hm.edu/fi/rest/public/person/name/{{&name}}" target="_blank">{{label}}</a>{{/label}}
{{^label}}<a href="http://fi.cs.hm.edu/fi/rest/public/person/name/{{&teacher.name}}" target="_blank">{{teacher.label}}</a>{{/label}}
