<article id="full_schedule_horizontal">
  <header><h2 id="schedule-header">Schedule:</h2></header>
  {{#times}}
    <section id="time-{{label}}" class="time">
    <div class="timeslot-header">{{name}}</div>
    {{#days}}
      <section id="day-{{label}}" class="day">
      {{#bookings}}
        {{>booking}}
      {{/bookings}}
      &nbsp;
      </section>
    {{/days}}
    <div class="clear"></div>
    </section>
  {{/times}}
</article>
{{#has_exams}}
<article id="exams">
  <header><h2 id="exams-header">Exams:</h2></header>
  {{#exams}}
    {{>exam}}
  {{/exams}}
</article>
{{/has_exams}}
