<article id="full_schedule_horizontal" data-booking-keys='{{{keys}}}'>
  <header><h2 id="schedule-header">Schedule:</h2></header>
  {{#bookings.times}}
    <section id="time-{{label}}" class="time">
    <span class="timeslot-header">{{text}}<span class="center">&nbsp;</span></span>
    {{#days}}
      <section id="day-{{label}}" class="day">
      {{#bookings}}
        {{>booking}}
      {{/bookings}}
      &nbsp;
      </section>
    {{/days}}
    <div class="clear"></div>
    </section>
  {{/bookings.times}}
</article>
