<article id="{{id}}">
  {{#days}}
    <article id="{{name}}">
      <header><h3 class="day-header" data-bookings-list="bookings-{{name}}">{{label}}</h3></header>
      <div id="bookings-{{name}}" class="bookings">
        <section class="0815"></section>
        <section class="1000"></section>
        <section class="1145"></section>
        <section class="1330"></section>
        <section class="1515"></section>
        <section class="1700"></section>
        <section class="1845"></section>
      </div>
    </article>
  {{/days}}
</article>
