<article class="booking">
  {{>course}}{{>suffix}}
  <div class="timeslot"><span class="day-label">{{timeslot.day.label}}</span> <span class="time-label">{{timeslot.label}}</span></div>
  {{#rooms}}{{>room}}{{/rooms}}
  {{#teacher.label}}
    <div class="teacher">{{>person}}</div>
  {{/teacher.label}}
  <button type="button" class="bookings-schedule-toggle" data-booking-key="{{& key}}">&#x2718;</button>
  <div class="clear"></div>
</article>
