<div id="{{id}}">
  {{#days}}
    <div id="{{name}}">
      <h3 class="day-header" data-bookings-list="bookings-{{name}}">{{label}}</h3>
      <div id="bookings-{{name}}" class="bookings">
        <div class="0815"></div>
        <div class="1000"></div>
        <div class="1145"></div>
        <div class="1330"></div>
        <div class="1515"></div>
        <div class="1700"></div>
        <div class="1845"></div>
      </div>
    </div>
  {{/days}}
</div>
