<article id="bookings_list">
  {{#days}}
    <section id="day-{{label}}" class="day">
      <header><h3 class="day-header" data-bookings-list="bookings-{{label}}">{{name}}</h3></header>
      <div id="bookings-{{label}}" class="bookings">
      {{#times}}
        <section id="time-{{label.name}}" class="time">
          <header><h4>{{label.text}}</h4></header>
          {{#bookings}}
            {{>full_booking}}
          {{/bookings}}
          &nbsp;
        </section>
      {{/times}}
    </section>
  {{/days}}
</article>
