<article class="booking length-{{timeslot.length}}">
  {{>course}}{{>suffix}}
  <ul class="people">
    {{#teacher.label}}
      <li class="teacher">{{>person}}</li>
    {{/teacher.label}}
    {{#people}}
      {{#label}}
        <li class="person">{{>person}}</li>
      {{/label}}
    {{/people}}
  </ul>
  <button type="button" class="bookings-schedule-toggle" data-booking-key="{{& key}}">&#x21c4;</button>
  {{>room}}
  <div class="clear"></div>
</article>
