<div id="groupselect">
  <h2 id="bookings-header">Bookings</h2>
  <span id="groups-select-label">Group: </span>
  <select id="groups">
    {{#groups}}
      <option value={{.}}>{{.}}</option>
    {{/groups}}
  </select>
</div>
