<div id="main" role="main">
  <div id="schedule"></div>
  <div id="groupselect"></div>
  <div id="bookings_list">
    <img src="/assets/not_sure.jpg" alt="javascript disabled" />
  </div>
  <div id='newslist'></div>
</div>
