//= require_self
//= require_tree ./by_media_queries
//= require ponies

//= depend_on base
//= depend_on defaults

//@import "base.css.sass"
@import "defaults.css.sass"

//@import "compass/typography/lists/bullets"
@import "compass/typography/vertical_rhythm"
@import "compass/typography/lists/horizontal-list"

.clear
  clear: both

#container
  +container
  +susy-grid-background
header nav
  clear: both
  +horizontal-list
footer .links
  +horizontal-list
#disclaimer
  color: $primary - #AAA
  strong
    &:focus, &:hover, &:active
      color: $primary - #666
      text-decoration: none
h3.day-header
  text-align: center
  &:focus, &:hover, &:active
    color: $secondary - #222222
    text-decoration: none

button
  +my-button($secondary, black, transparent)

ul
  margin: .5em 1em
  padding: 0
