<ul class="links">
  <li><a href="/fluid" target="_blank">Fluid Ascii</a></li>
  <li>Datasource: <a rel="no_follow" href="http://fi.cs.hm.edu/fi/rest/public/timetable/group" target="_blank">Hochschule Muenchen</a></li>
  <li><a href="http://twitter.com/sch1zo" target="_blank">@sch1zo</a></li>
  <li><a href="http://github.com/sch1zo" target="_blank">github</a></li>
</ul>
