<ul class="links">
  <li><a href="/fluid" target="_blank">Fluid Ascii</a></li>
  <li>Datasource:
    <a rel="no_follow" href="http://fi.cs.hm.edu/fi/rest/public/timetable/group" target="_blank">Hochschule</a>
    <a rel="no_follow" href="http://fi.cs.hm.edu/fi/rest/public/news" target="_blank">Muenchen</a>
  </li>
  <li><a href="http://twitter.com/sch1zo" target="_blank">@sch1zo</a></li>
  <li><a href="http://github.com/sch1zo/ajax-course-planner" target="_blank">github</a></li>
  <li><a id="clear_cookie" href='#'>clear cookie</a></li>
  <li id='pony'><a href='#'>More Ponies!!!</a></li>
</ul>
<section id="disclaimer">
  <strong>Disclaimer:</strong>
  <p>
  Although the data from HM is used and I believe I parse and work with it correct all what you see here is probably wrong.
  </p>
</section>
