<ul class="links">
  <li><a id="clear_cookie" href='#'>clear cookie</a></li>
  <li>Source: <a rel="no_follow" href="http://fi.cs.hm.edu/fi/rest/public/timetable/group">Hochschule Muenchen</a></li>
</ul>
