<h1 id="title">{{title}}</h1>
<nav>
  <li><a href="/">Bookings</a></li>
  <li><button id="start">Start</button><button id="stop">Stop</button></li>
  <li><button id="clear">Clear</button></li>
</nav>
