<h1 id="title">{{title}}</h1>
<div id='pony-pics'>
  <img src="/assets/sleepy_dash.png" alt="http://mlp.wikia.com/wiki/File:Cutie_Pox_Rainbow_Dash_S2E6.png"/>
  <img src="/assets/fluffershy.png" alt="http://mlp.wikia.com/wiki/File:Fluttershy_blushing_smile_S2E22.png"/>
</div>
<nav>
  <li><a href="/">Bookings</a></li>
</nav>
