---
http_interactions:
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/timetable/group.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><list>\n    <content>Studiengruppen</content>\n
      \   <what>group</what>\n    <timetable>\n        <value>ic3</value>\n        <day>\n
      \           <weekday>mo</weekday>\n            <time>\n                <starttime>11:45</starttime>\n
      \               <booking>\n                    <weekday>mo</weekday>\n                    <starttime>11:45</starttime>\n
      \                   <stoptime>13:15</stoptime>\n                    <room>r0009</room>\n
      \                   <type>course</type>\n                    <course>wahrscheinlichkeitstheorieundstatistikic3</course>\n
      \                   <course>wahrscheinlichkeitstheorieundstatistikif4a</course>\n
      \                   <teacher>fischerrainer</teacher>\n                    <suffix/>\n
      \                   <startdate/>\n                    <step>7</step>\n                    <stopdate/>\n
      \                   <courses>\n                        <course>\n                            <modul>wahrscheinlichkeitstheorieundstatistik</modul>\n
      \                           <group>ic3</group>\n                            <teacher>fischerrainer</teacher>\n
      \                       </course>\n                        <course>\n                            <modul>wahrscheinlichkeitstheorieundstatistik</modul>\n
      \                           <group>if4a</group>\n                            <teacher>fischerrainer</teacher>\n
      \                       </course>\n                    </courses>\n                </booking>\n
      \           </time>\n        </day>\n  [...]
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/person/name/fischerrainer.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><person>\n    <lastname>Fischer</lastname>\n
      \   <firstname>Rainer</firstname>\n    <sex>m</sex>\n    <title>Prof. Dr.</title>\n
      \   <faculty>07</faculty>\n    <status>prof</status>\n    <hidden>false</hidden>\n
      \   <email xmlns:emailtrasher=\"java:edu.hm.cs.fi.exporter.EmailTrasher\">removed</email>\n
      \   <website/>\n    <phone>3787</phone>\n    <function/>\n    <focus/>\n    <publication/>\n
      \   <office>r3035</office>\n    <emailoptin>false</emailoptin>\n    <officehourweekday/>\n
      \   <officehourtime>10:00</officehourtime>\n    <officehourroom/>\n    <officehourcomment/>\n
      \   <einsichtdate/>\n    <einsichttime>10:00</einsichttime>\n    <einsichtroom/>\n
      \   <einsichtcomment/>\n    <password>removed</password>\n    <course>\n        <modul>angewandtemathematik</modul>\n
      \       <group>ib</group>\n        <teacher>eichsoellneredda</teacher>\n        <teacher>fischerrainer</teacher>\n
      \       <teacher>koestergerta</teacher>\n        <teacher>metzgermichael</teacher>\n
      \       <teacher>naumerbirgit</teacher>\n    </course>\n    <course>\n        <modul>angewandtemathematik</modul>\n
      \       <group>if2b</group>\n        <teacher>eichsoellneredda</teacher>\n        <teacher>fischerrainer</teacher>\n
      \       <teacher>metzgermichael</teacher>\n        <teacher>naumerbirgit</teacher>\n
      \   </course>\n    <course>\n        <modul>angewandtemathematik</modul>\n        <group>if2c</group>\n
      \       <teacher>fischerrainer</teacher>\n    </course>\n    <course>\n        <modul>wahrscheinlichkeitstheorieundstatistik</modul>\n
      \       <group>ic3</group>\n        <teacher>fischerrainer</teacher>\n    </course>\n
      \   <course>\n        <modul>wahrscheinlichkeitstheorieundstatistik</modul>\n
      \       <group>if4a</group>\n        <teacher>fischerrainer</teacher>\n    </course>\n</person>"
  recorded_at: Thu, 02 Feb 2012 01:39:39 GMT
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/modul/title/wahrscheinlichkeitstheorieundstatistik.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><modul>\n    <name>Wahrscheinlichkeitstheorie
      und Statistik</name>\n    <angebot>ss</angebot>\n    <credits>5</credits>\n
      \   <sws>4</sws>\n    <verantwortlich>hoerwickjosef</verantwortlich>\n    <teacher>grubermanfred</teacher>\n
      \   <teacher>hoerwickjosef</teacher>\n    <language>de</language>\n    <lehrform>su-uebungen</lehrform>\n
      \   <aufwand>40 Präsenzstunden Vorlesung, 20 Präsenzstunden Übung, 35 Stunden
      Vor-/Nachbereitung der Übungen, 55 Stunden Nachbereitung der Vorlesung und Prüfungsvorbereitung</aufwand>\n
      \   <voraussetzungen>Keine</voraussetzungen>\n    <ziele>Die Studierenden sollen
      eine erste Einführung in die Stochastik erhalten. Das Ziel ist, die wichtigsten
      Begriffe und Resultate sowohl anschaulich als auch mathematisch abstrakt zu
      verstehen.\nFähigkeit, mit Hilfe des Gelernten einfache Aufgaben aus dem Fachgebiet
      zu lösen.</ziele>\n    <inhalt>Zum Erklären wichtiger Begriffe und zur Formulierung
      von Lehrsätzen werden in erster Linie diskrete Wahrscheinlichkeitsräume verwendet.
      Es werden folgende Themen behandelt: Wahrscheinlichkeitsräume, Zufallsvariable,
      Laplace-Modelle, Formel des Ein- und Ausschließens, Erwartungswert, mehrstufige
      Experimente, bedingte Wahrscheinlichkeiten, gemeinsame Verteilung von Zufallsvariablen,
      verschiedene Verteilungen, Varianz, Kovarianz und Korrelation, Gesetz großer
      Zahlen, zentraler Grenzwertsatz, Schätzprobleme, statistische Tests</inhalt>\n
      \   <leistungen>sp</leistungen>\n    <medien>Tafel, Folien oder Beamer</medien>\n
      \   <literatur>Norbert Henze, Stochastik für Einsteiger, Vieweg\n #Albrecht
      Irle, Wahrscheinlichkeitsheorie und Statistik, Teubner</literatur>\n    <program/>\n
      \   <what>wahrscheinlichkeitstheorieundstatistik</what>\n    <modulcode>\n        <modul>wahrscheinlichkeitstheorieundstatistik</modul>\n
      \       <program>ic</program>\n        <code>IF-S-B-306</code>\n        <semester>4</semester>\n
      \       <curriculum>Pflichtfach im Bachelor Scientific Computing</curriculum>\n
      \   </modulcode>\n    <modulcode>\n        <modul>wahrscheinlichkeitstheorieundstatistik</modul>\n
      \       <program>if</program>\n        <code>IF-I-B-404</code>\n        <semester>4</semester>\n
      \       <curriculum>Pflichtfach im Bachelor Informatik</curriculum>\n    </modulcode>\n</modul>"
  recorded_at: Thu, 02 Feb 2012 01:39:39 GMT
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/person/name/kirchulla.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><person>\n    <lastname>Kirch</lastname>\n
      \   <firstname>Ulla</firstname>\n    <sex>f</sex>\n    <title>Prof. Dr.</title>\n
      \   <faculty>07</faculty>\n    <status>prof</status>\n    <hidden>false</hidden>\n
      \   <email xmlns:emailtrasher=\"java:edu.hm.cs.fi.exporter.EmailTrasher\">removed</email>\n
      \   <website>http://www.cs.hm.edu/~kirch</website>\n    <phone>3739</phone>\n
      \   <function>Praktikantenbetreuerin Informatik, Scientifik Computing;\nAnerkennung
      von Ausbildungszeiten - Praktikumsverträge;\nOrganisation Absolventenfeier</function>\n
      \   <focus>Effiziente Algorithmen;Embedded Systems;Verteilte und systemnahe
      Anwendungen</focus>\n    <publication/>\n    <office>r3030</office>\n    <emailoptin>false</emailoptin>\n
      \   <officehourweekday>do</officehourweekday>\n    <officehourtime>10:00</officehourtime>\n
      \   <officehourroom/>\n    <officehourcomment>Sprechstunden finden nur in der
      Vorlesungszeit (1.10-25.1. und 15.3. - 10.7.) statt.</officehourcomment>\n    <einsichtdate>2012-02-10</einsichtdate>\n
      \   <einsichttime>08:15</einsichttime>\n    <einsichtroom/>\n    <einsichtcomment>Während
      der Prüfungseinsicht findet auch eine Sprechstunde statt.</einsichtcomment>\n
      \   <password>removed</password>\n    <modul>\n        <name>Softwareprojekte
      in C/C++</name>\n        <angebot>einzeln</angebot>\n        <credits>5</credits>\n
      \       <sws>4</sws>\n        <verantwortlich>kirchulla</verantwortlich>\n        <teacher>kirchulla</teacher>\n
      \       <language>de</language>\n        <language>en</language>\n        <lehrform>su-praktikum</lehrform>\n[...]
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/modul/title/algorithmenunddatenstruktureni.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><modul>\n    <name>Algorithmen
      und Datenstrukturen I</name>\n    <angebot>ws</angebot>\n    <credits>5</credits>\n
      \   <sws>4</sws>\n    <verantwortlich>koehlerklaus</ve[...]
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/person/name/grubermanfred.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><person>\n    <lastname>Gruber</lastname>\n
      \   <firstname>Manfred</firstname>\n    <sex>m</sex>\n    <title>Prof. Dr.</title>\n
      \   <faculty>07</faculty>\n    <status>prof</status>\n    <hidden>false</hidden>\n
      \   <email xmlns:emailtrasher=\"java:edu.hm.cs.fi.exporter.EmailTrasher\">removed</email>\n
      \   <website>http://www.lrz.de/~gruber/</website>\n    <phone>3737</phone>\n
      \   <function>Prüfungskommission Master Stochastic Engineering in Finance and
      Management Vorsitz; \nPrüfungskommission Bachelor Scientific Computing Vorsitz
      - Stellvertretung</function>\n    <focus>Computational Stochastics</focus>\n
      \   <publication/>\n    <office>r4026</office>\n    <emailoptin>false</emailoptin>\n
      \   <officehourweekday>do</officehourweekday>\n    <officehourtime>15:15</officehourtime>\n
      \   <officehourroom/>\n    <officehourcomment/>\n    <einsichtdate>2011-07-29</einsichtdate>\n
      \   <einsichttime>08:30</einsichttime>\n    <einsichtroom>r1006</einsichtroom>\n
      \   <einsichtcomment>8:30 bis 10:00</einsichtcomment>\n    <password>removed</password>\n
      \   <modul>\n        <name>Ausgewählte Probleme aus dem ACM Programming Contest</name>\n
      \       <angebot>einzeln</angebot>\n        <credits>5</credits>\n        <sws>4</sws>\n
      \       <verantwortlich>grubermanfred</verantwortlich>\n        <teacher>logofatudoina</teacher>\n
      \       <language>de</language>\n        <lehrform>su-praktikum</lehrform>\n
   [...]
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/modul/title/integraltransformationen.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><modul>\n    <name>Integraltransformationen</name>\n
      \   <angebot>ss</angebot>\n    <credits>5</credits>\n    <sws>4</sws>\n    <verantwortlich>zielkeandreas</verantwortlich>\n
  [...]
- request:
    method: get
    uri: http://fi.cs.hm.edu/fi/rest/public/person/name/koestergerta.xml
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><person>\n    <lastname>Köster</lastname>\n
      \   <firstname>Gerta</firstname>\n    <sex>f</sex>\n    <title>Prof. Dr.</title>\n
      \   <faculty>07</faculty>\n    <status>prof</status>\n    <hidden>false</hidden>\n
      \   <email xmlns:emailtrasher=\"java:edu.hm.cs.fi.exporter.EmailTrasher\">removed</email>\n
      \   <website>http://www.cs.hm.edu/die_fakultaet/ansprechpartner/professoren/koester/index.de.html</website>\n
      \   <phone>3712</phone>\n    <function/>\n    <focus>Modellierung und Simulation</focus>\n
      \   <publication>Letzte: Gerta Köster, Michael Seitz, Franz Treml, Dirk Hartmann
      &amp; Wolfram Klein\n(2011): On modelling the influence of group formations
      in a crowd, Contemporary Social Science,\n6:3, 397-414\nWeitere Veröffentlichungen
      auf der Homepage</publication>\n    <office>r4026</office>\n    <emailoptin>true</emailoptin>\n
      \   <officehourweekday>mo</officehourweekday>\n    <officehourtime>13:30</officehourtime>\n
      \   <officehourroom/>\n    <officehourcomment>Regelmäßige S[...]
